body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
  }
  
  .logo {
    width: 30%;
    height: 80%;
    margin: 5% 15% auto;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
  
  main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: rgb(146, 6, 240);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid whitesmoke;
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    @media all and (max-width:30em){
       a.button2{
        display:block;
        margin:0.4em auto;
       }
      }
  }
  
  #profile-pic {
    width: 200px;
    height: 275px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }

  
  h1 {
    color:black (0, 0, 0);
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 15%;
    text-align: center;
    color: rgb(36, 99, 172);
    letter-spacing: 16px;
    font-style: italic;
<<<<<<< HEAD
=======
  }
  @media (min-width: 320px) {
    #profile-pic {
      width: 200px;
      height: 275px;
      border-radius: 50%;
      margin: 15% auto;
      grid-column: 2/3;
    }

    @media (min-width: 720px) {
      #profile-pic {
        width: 400px;
        height: 520px;
        border-radius: 50%;
        margin: 15% auto;
        grid-column: 2/3;
      }
    }

  }
>>>>>>> dashboard
